<script>
	import Filter from '$lib/components/index/Filter.svelte';
	import { contests, challenges, event } from '$lib/stores/stores.js';
	import Contest from '$lib/components/index/Contest.svelte';
	import { compareDatesEvent } from '$lib/utils/date';

	export let data;

	let filtered_contests = 0;

	$challenges = data.challenges;
	$contests = data.contests;

	function filterContests(event, challenges) {
		let now = Date.now();

		let res = $contests.filter((contest) => {
			return compareDatesEvent(contest, now, event) && challenges.get(contest.challenge);
		});

		filtered_contests = res.length;

		return res;
	}
</script>

<main>
	<section class="filter">
		<Filter />
	</section>

	{#if filtered_contests <= 1}
		<h2>{filtered_contests} contest</h2>
	{:else}
		<h2>{filtered_contests} contests</h2>
	{/if}

	<section class="main">
		{#each filterContests($event, $challenges) as contest}
			<Contest {contest} />
		{/each}
	</section>
</main>

<style lang="scss">
	@import 'variables.scss';

	main {
		background-color: $color-background-3;
	}

	section {
		background-color: $color-background-1;
		padding: 32px;
	}

	section.filter {
		border-start-start-radius: 8px;
		border-start-end-radius: 8px;
	}

	section.main {
		display: flex;
		flex-direction: column;
		gap: 16px;
	}

	h2 {
		margin: 0;
		background-color: $color-background-1;
		text-align: center;
	}

	@media (max-width: 640px) {
		section.filter {
			padding-inline: 0;
		}

		section.main {
			padding-inline: 16px;
		}
	}
</style>
