<header>
	<h1>Competitive Programming Calendar</h1>
</header>

<style lang="scss">
	@import 'variables.scss';

	$title: #fefbf8;
	$title-shadow: #000000;
	$title-shadow-blur: rgba(0, 0, 0, 0.5);

	h1 {
		font-family: Bubblegum Sans;
		margin: 0;
		text-align: center;
		text-transform: uppercase;
		color: $title;
		transform: skew(-5deg, -5deg) rotate(5deg);
		transform-origin: center center;
		text-shadow: 1px 1px 1px $title-shadow, 2px 2px 0 $title-shadow, 3px 3px 0 $title-shadow,
			4px 4px 9px $title-shadow-blur;
	}

	header {
		padding: 16px;
		background-color: $color-background-3;
	}

	@media (max-width: 640px) {
		h1 {
			font-size: 16px;
		}
	}
</style>
