<script>
	export let contest;
</script>

<div class="container">
	<div class="logo">
		{contest.start.toLocaleString('en-US', { month: 'short', day: 'numeric', timeZone: 'UTC' })}
		{contest.start.toLocaleString('en-US', { year: 'numeric', timeZone: 'UTC' })}
	</div>
	<div>
		<div class="challenge-name">
			{contest.name} <span class="kind">{contest.challenge}</span>
		</div>
		<div class="details">
			<div>
				<img src="misc/start.svg" alt="" />Start: {contest.start.toLocaleString('en-US', {
					year: 'numeric',
					month: 'short',
					day: 'numeric',
					hour: '2-digit',
					minute: '2-digit',
					timeZone: 'UTC'
				})}
			</div>
			<div>
				<img src="misc/stop.svg" alt="" />End: {contest.end.toLocaleString('en-US', {
					year: 'numeric',
					month: 'short',
					day: 'numeric',
					hour: '2-digit',
					minute: '2-digit',
					timeZone: 'UTC'
				})}
			</div>
			<div><img src="misc/clock.svg" alt="" />{contest.duration} hours</div>
		</div>
	</div>
</div>

<style lang="scss">
	@import 'variables.scss';
	div.container {
		padding: 24px 8px;
		border: 1px solid $color-background-1-border;
		border-radius: 8px;
		display: flex;
		align-items: center;
		gap: 16px;
	}

	div.logo {
		width: 96px;
		text-align: center;
		font-size: 22px;
		font-weight: bold;
		color: $color-background-3;
	}

	div.challenge-name {
		font-size: 18px;
		font-weight: bold;
		margin-block-end: 16px;
	}

	span.kind {
		display: inline-block;
		font-size: 12px;
		padding: 4px;
		background-color: $color-background-2;
		color: $color-foreground-2;
		border-radius: 8px;
	}

	div.details {
		display: flex;
		gap: 32px;
	}

	img {
		width: 12px;
		height: 12px;
		margin-inline-end: 8px;
		position: relative;
		top: 1px;
	}

	@media (max-width: 640px) {
		div.logo {
			display: none;
		}

		div.challenge-name {
			font-size: 13px;
		}

		div.details {
			padding-inline-start: 8px;
			flex-direction: column;
			gap: 8px;
		}
	}
</style>
