<script>
	import Radio from '$lib/components/utils/input/Radio.svelte';
	import Checkbox from '$lib/components/utils/input/Checkbox.svelte';
	import { challenges, event } from '$lib/stores/stores.js';

	const statuses = ['Past', 'Ongoing', 'Upcoming'];
</script>

<fieldset>
	<legend>Event</legend>
	<div>
		{#each statuses as status}
			<Radio id={status} name="statuses" bind:group={$event} />
		{/each}
	</div>
</fieldset>

<fieldset>
	<legend>Kind</legend>
	<div>
		{#each [...$challenges] as [key, value]}
			<Checkbox id={key} name="challenges" />
		{/each}
	</div>
</fieldset>

<style lang="scss">
	@import 'variables.scss';
	fieldset {
		border: none;
	}

	fieldset + fieldset {
		margin-block-start: 32px;
	}

	div {
		display: flex;
		gap: 8px;
	}
</style>
