<script>
	export let id;

	export let name;

	export let group;
</script>

<input type="radio" {id} {name} value={id} bind:group />
<label for={id}>{id}</label>

<style lang="scss">
	@import 'variables.scss';

	input {
		display: none;

		&:not(:disabled) ~ label {
			cursor: pointer;
		}
	}

	label {
		display: inline-block;
		background: $color-background-2;
		border-radius: 10px;
		padding: 14px 7px;
		text-align: center;
	}

	input:checked + label {
		background: $color-background-3;
		color: $color-foreground-3;
	}
</style>
