@import '$lib/styles/fonts.scss';

:root {
	font-family: Montserrat;

	font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

@media (max-width: 640px) {
	body {
		font-size: 12px;
	}
}
